
  
  .card-item-albun {
    flex: 0 0 calc(25% - 10px); /* Definindo um tamanho fixo para os cards */
    margin-right: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-height: 90%;
    max-width: 90%;
  }
  h6 {
    max-width: 86%;
  }


  .album-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
  }
  
  .album-card img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 250px;
  }
  
  .album-card h5 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .album-card h6 {
    margin: 0;
    color: #888888;
  }

  .music-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .music-card-container {
    flex: 1;
    display: flex;

    padding: 10px;
  }
  
  .music-card {
    border: 1px solid #ccc; 
    padding: 10px;
  }