@import "bootstrap";
  
  .card-item-albun {
    flex: 0 0 calc(25% - 10px);
    margin-right: 10px;
    padding: 20px;
    border: none;
    box-sizing: border-box;
    max-height: 90%;
    max-width: 90%;
    background-color: rgba(0, 0, 0, 0);
  }
  h6 {
    max-width: 86%;
  }

  .white-color {
    color: aliceblue;
  }


  .album-card {
    
    border-radius: 10px;
    padding: 28px;
    text-align: center;
    max-width: 300px;
  }
  
  .album-card img {
    border-radius: 20px;
    margin-bottom: 20px;
    width: 250px;
  }

  #container {
    display: flex;
  }
  
  .album-card h5 {
    margin: 0;
    font-size: 1.5em;
  }
  
  .album-card h6 {
    margin: 0;
    color: #888888;
  }

  .music-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .music-card-container {
    flex-direction: column;
    max-width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 15rem;
  }

  .music-card-container li {
    border: none;
  }

  #button-previous-next {
 position: absolute;
 top: 90%;
 left: 4%;
    }
  
  .music-card {
    border: 1px solid #ccc; 
    padding: 10px;
  }

  #music-container{
    display: flex;
    flex-direction: row;
  }

  